<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Thorn.dao.cityMapper">
    <resultMap id="CityResultMap" type="com.Thorn.model.city">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="state" property="state" />
        <result column="country" property="country" />

    </resultMap>

    <select id="findAllCity" resultMap="CityResultMap">
        select id, name, state, country from city
    </select>

    <select id="findOneCity" resultMap="CityResultMap"  parameterType="int">
        select id, name, state, country from city where id=#{id}
    </select>

    <insert id="insertCity" parameterType="com.Thorn.model.city" useGeneratedKeys="true" keyProperty="id">
        insert into city(name, state, country) values(#{name},#{state},#{country})
    </insert>

    <update id="updateCity" parameterType="com.Thorn.model.city">
        update city set name=#{name}, state=#{state}, country=#{country} where id=#{id}
    </update>

    <update id="deleteCity" parameterType="int">
        delete from city where id=#{id}
    </update>
</mapper>