<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Thorn.dao.postMapper">
    <resultMap id="BaseResultMap" type="com.Thorn.model.post">
        <constructor>
            <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="grade" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="posttime" javaType="java.util.Date" jdbcType="VARCHAR"/>
            <arg column="postnum" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="lastposttime" javaType="java.util.Date" jdbcType="VARCHAR"/>
            <arg column="views" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
        <association property="user" column="username"
                     javaType="com.Thorn.model.user" foreignColumn="username">
            <id property="username" column="username"/>
            <result column="photo" property="photo"/>
        </association>
    </resultMap>

    <resultMap id="PostResultMapSimple" type="com.Thorn.model.post">
        <constructor>
            <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="views" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>

    <resultMap id="PostResultMapSimple1" type="com.Thorn.model.post">
        <constructor>
            <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="postnum" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>

    <insert id="insert" parameterType="com.Thorn.model.post">
        insert into post (id, title, username,
        type, grade, posttime,
        postnum, lastposttime, views
        )
        values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
        #{type,jdbcType=INTEGER}, #{grade,jdbcType=INTEGER}, #{posttime,jdbcType=TIMESTAMP},
        #{postnum,jdbcType=INTEGER}, #{lastposttime,jdbcType=TIMESTAMP}, #{views,jdbcType=INTEGER}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.Thorn.model.post">
        insert into post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="posttime != null">
                posttime,
            </if>
            <if test="postnum != null">
                postnum,
            </if>
            <if test="lastposttime != null">
                lastposttime,
            </if>
            <if test="views != null">
                views,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=INTEGER},
            </if>
            <if test="posttime != null">
                #{posttime,jdbcType=TIMESTAMP},
            </if>
            <if test="postnum != null">
                #{postnum,jdbcType=INTEGER},
            </if>
            <if test="lastposttime != null">
                #{lastposttime,jdbcType=TIMESTAMP},
            </if>
            <if test="views != null">
                #{views,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="findPost" resultMap="BaseResultMap">
        select *,u.photo from post p LEFT JOIN user u on p.username=u.username where title LIKE
        "%"#{0}"%" order by posttime desc limit #{1},10
    </select>

    <select id="findEssencePost" resultMap="PostResultMapSimple">
        select id,title,views from post where grade=1 or grade=3 AND
        posttime>date_sub(posttime,interval 7 day)
        order by posttime desc limit 0,5
    </select>

    <select id="getPostNum" resultType="java.lang.Integer" parameterType="string">
        SELECT count(id) from post where title like "%"#{0}"%"
    </select>

    <select id="findHotPost" resultMap="PostResultMapSimple1">
        SELECT id,title,postnum from post where posttime>date_sub(posttime,interval 7 day)
        order by postnum desc limit 0,7
    </select>

    <select id="findTopPost" resultMap="PostResultMapSimple">
        select id,title,views from post where grade>1 AND
        posttime>date_sub(posttime,interval 7 day)
        order by posttime desc limit 0,5
    </select>
</mapper>