<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Thorn.dao.userMapper">
    <resultMap id="BaseResultMap" type="com.Thorn.model.user">
        <constructor>
            <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="age" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="gender" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="identity" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="level" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="photo" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="regdate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="fans" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.Thorn.model.userWithBLOBs">
        <constructor>
            <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="age" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="gender" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="identity" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="level" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="photo" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="regdate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="fans" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="attention" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
            <arg column="history" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
            <arg column="collections" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Blob_Column_List">
        attention, history, collections
    </sql>
    <insert id="insert" parameterType="com.Thorn.model.userWithBLOBs">
        insert into user (username, password, name,
        age, gender, identity,
        level, photo, regdate,
        fans, attention, history,
        collections)
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{age,jdbcType=INTEGER}, #{gender,jdbcType=VARCHAR}, #{identity,jdbcType=VARCHAR},
        #{level,jdbcType=INTEGER}, #{photo,jdbcType=VARCHAR}, #{regdate,jdbcType=TIMESTAMP},
        #{fans,jdbcType=INTEGER}, #{attention,jdbcType=LONGVARCHAR},
        #{history,jdbcType=LONGVARCHAR},
        #{collections,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.Thorn.model.userWithBLOBs">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="identity != null">
                identity,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="photo != null">
                photo,
            </if>
            <if test="regdate != null">
                regdate,
            </if>
            <if test="fans != null">
                fans,
            </if>
            <if test="attention != null">
                attention,
            </if>
            <if test="history != null">
                history,
            </if>
            <if test="collections != null">
                collections,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="identity != null">
                #{identity,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="photo != null">
                #{photo,jdbcType=VARCHAR},
            </if>
            <if test="regdate != null">
                #{regdate,jdbcType=TIMESTAMP},
            </if>
            <if test="fans != null">
                #{fans,jdbcType=INTEGER},
            </if>
            <if test="attention != null">
                #{attention,jdbcType=LONGVARCHAR},
            </if>
            <if test="history != null">
                #{history,jdbcType=LONGVARCHAR},
            </if>
            <if test="collections != null">
                #{collections,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
</mapper>